.App {
  text-align: center;
}

.App-header {
  background-color: #2d2f4e;
  padding: 10rem;
  color: white;
}

.hello {
  animation: hello-spin 1s infinite;
  position: absolute;
  margin: 0 1rem;
}

@keyframes hello-spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
